name: Android CI

on: [push, pull_request]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    - name: set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: 17
    - name: Build with Gradle
      run: ./gradlew assembleDebug
    - name: Build iOS shared code
      run: ./gradlew :common:compileKotlinIOS
    - name: Build macOS shared code
      run: ./gradlew :common:compileKotlinMacOS
